body {
	background-color: #d4d4d4;

}
#container-main {
	padding-right: 0;
	padding-left: 0;
}

#sidenav-main-ul {
	padding-top: 40%;
}
#top-nav {
	background-color: #333333;
	border-bottom: none;
	margin-bottom: 0;
}

#greeting {
	float: right;
}

#sidenav {
	background-color: #777777;
	height: 100%;
	padding-bottom: 2000px;
	margin-bottom: -2000px;
	overflow: hidden;
	padding-top: 2%;
}

#sidenav-main-ul li {
	padding-top: 5%;
	padding-bottom: 5%;
}
.tabs {
	border-top: 0.5px solid #777777;
	border-bottom: 0.5px solid #777777;
}

.content-panel {
	margin-top: 2.5%;
	margin-left: 1.25%;
}

 .delMessage{
	text-align: center;
}

a:hover, a:visited, a:link {
	text-decoration: none;
}

.navbar-default {
	background-color: #777777;
	border-left: none;
	border-right: none;
	border-radius: 0;

}

#top-nav .navbar-brand{
	color: #e7dfdd;
	padding-left: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#top-nav .navbar-brand:hover {
	cursor: default;
}

#drop1 {
	color: #e7dfdd;
	padding-right: 30px;
	padding-left: 30px;
}

#userTable .userRow, #sidenav .list-group-item,  .glyphicon-trash, .glyphicon-pencil{
	cursor: pointer;
}
@media (max-width: 991px){
	#sidenav {
		padding-bottom: 0px;
		margin-bottom: 0px;
		overflow: initial;
	}
}


@media (max-width: 768px) {

	#adminSettings a, #adminLogout a{
		color: white;
	}


}
