body { 
	padding-top: 100px; 
	height: 100%;
	width: 100%;
	background-color: #ffffff;
	color: #999999;

	background: url("../styles/collab.jpg") top left no-repeat;
	

}

h2 {
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
}
.navbar {
	background-color: none;

}
#login-box {
	margin-top: 5%;
	background-color: none;
	width: 100%;
	height: 100%;
	padding: 5%;
	border-radius: 5px;
	text-align: center;
}


/* modal styles */

.modal-content {
	background-color: #eae3ea;
	color: #b56357;
} 

