body {
	background-color: #d4d4d4;
}
#container-main {
	padding-right: 0;
	padding-left: 0;
}

#sidenav-main-ul {
	padding-top: 40%;
}
#top-nav {
	border-bottom: none;
	margin-bottom: 0;
}

#greeting {
	float: right;
}

#sidenav {
	background-color: #777777;
	height: 100%;
	padding-bottom: 2000px;
	margin-bottom: -2000px;
	overflow: hidden;
	padding-top: 2%;
}

#greeting {
	float: right;
}

#sidenav-main-ul li {
	padding-top: 5%;
	padding-bottom: 5%;
}
.tabs {
	border-top: 0.5px solid #777777;
	border-bottom: 0.5px solid #777777;
}
.chat-box {
	margin-top: 5%;
	margin-left: 7%;
	width: 100%;

}
.chat-box .panel-body {
	height: 300px;
	overflow-y: auto;
}
#news-content {
	height: 355px;
}
.chat-input {
	width: 85% !important;
}

a:hover, a:visited, a:link {
	text-decoration: none;
}

.navbar-default {
	background-color: #333333;
	border-left: none;
	border-right: none;
	border-radius: 0;

}

#top-nav .navbar-brand{
	color: #e7dfdd;
	padding-left: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#top-nav .navbar-brand:hover{
	cursor: default;
}

#drop1 {
	color: #e7dfdd;
	padding-right: 30px;
	padding-left: 30px;
}

#nav-contain{
	padding-right: 0px;
	padding-left: 0px;
}

.glyphicon-globe {
	color: #679160
}
.changeRoom:hover {
	cursor: pointer;
}
#newsBox{
	margin-top: 5.40%;
	width: 100%;
}
#newsBox .panel-body {
	
	overflow-y: auto;
}

@media (max-width: 991px){

	#sidenav {
		padding-bottom: 0px;
		margin-bottom: 0px;
		overflow: initial;
	}
	.chat-box {
		margin-left: auto;
	}
}

@media (max-width: 768px) {

	#userSettings a, #userLogout a{
		color: white;
	}
	.chat-box {
		margin-left: auto;
	}
	
}


