body {
	background-color: #999;
}
.panel-default{

}
#container-main {
	padding-right: 0;
	padding-left: 0;
}

#sidenav-main-ul {
	padding-top: 40%;
}
#top-nav {
	border-bottom: none;
	margin-bottom: 0;
}

#greeting {
	float: right;
}

#sidenav {
	background-color: #777777;
	height: 100%;
}

#sidenav-main-ul li {
	padding-top: 5%;
	padding-bottom: 5%;
}
.tabs {
	border-top: 0.5px solid #777777;
	border-bottom: 0.5px solid #777777;
}
.chat-box {
	margin-top: 5%;
	width: 100%;

}
.chat-box .panel-body {
	height: 300px;
	overflow-y: auto;
	
	
}
#news-content {
	height: 355px;
}
.chat-input {
	width: 85% !important;
}

a:hover, a:visited, a:link {
	text-decoration: none;
}

.navbar-default {
	background-color: #777777;
	border-radius: 0;

}

#top-nav .navbar-brand{
	color: #e7dfdd;
}

#drop1 {
	color: #e7dfdd;
}
